<html>

<head>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.0.0/dt-1.10.16/b-1.5.1/r-2.2.1/datatables.min.css"
  />
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.0.0/dt-1.10.16/b-1.5.1/r-2.2.1/datatables.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#myTable').DataTable();
    });
  </script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="icon.png" width="30" height="30" alt=""> Guest Ready
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Help Airbnb host have better create listing planning
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul> -->

</nav>


<div class="row p-5">
  <div class="col col-4 p-5">
    <div class="card mb-5">
      <div class="card-body">
        <form action="result">
          <h5 class="card-title">Decision Tree</h5>
          <div class="form-group">
            <label for="bedrooms">Bedrooms</label>
            <input type="text" class="form-control" name="bedrooms" placeholder="Enter no. of Bedroom">
          </div>

          <div class="form-group">
            <label for="accommodates">Accommodates</label>
            <input type="text" class="form-control" name="accommodates" placeholder="Enter Accommodates">
          </div>
          <div class="form-group">
            <label for="neighborhood">Location</label>
            <input type="text" class="form-control" name="neighborhood" placeholder="Enter Location">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-body">
        <form action="knn-result">
          <h5 class="card-title">K-nearest Neighbors (KNN) Algorithm</h5>
          <div class="form-group">
            <label for="bedrooms">Bedrooms</label>
            <input type="text" class="form-control" name="bedrooms" placeholder="Enter no. of Bedroom">
          </div>

          <div class="form-group">
            <label for="bedrooms">Accommodates</label>
            <input type="text" class="form-control" name="accommodates" placeholder="Enter Accommodates">
          </div>

          <div class="form-group">
            <label for="bedrooms">Prices</label>
            <input type="text" class="form-control" name="price" placeholder="Enter Night Price">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col col-8 p-5">
    <div class="card">
      <div class="card-body">
        <table class="table" id="myTable">
          <thead>
            <tr>
              <th scope="col">RoomId</th>
              <th scope="col">Location</th>
              <th>Price</th>
              <th>Room Type</th>
              <th>Bedroom</th>
              <th>Accommodates</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach((element,index) =>{ %>
              <tr>
                <td scope="col">
                  <%= element.room_id %>
                </td>
                <td scope="col">
                  <%= element.neighborhood %>
                </td>
                <td scope="col">
                  <%= element.price %>
                </td>
                <td scope="col">
                  <%= element.room_type %>
                </td>
                <td scope="col">
                  <%= element.bedrooms %>
                </td>
                <td scope="col">
                  <%= element.accommodates %>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</html>